.appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loginForm{
  width: 20rem;
}
.loginFormButton {
  width: 100%;
}
.topicHeader{
  margin-bottom: 2rem !important;
}
.dataView{
  width: 100%;
  padding: 0px 50px 50px 50px;
}
.dataBox{
  display: flex;
  width: 100%;
}